<link href="../../../../../assets/css/bootstraps.css" rel="stylesheet" />
<link href="../../../../../assets/css/font-awesome.css" rel="stylesheet" />
<app-teacher-nav></app-teacher-nav>
<img src="../../../../../assets/img/portfolio_item_05 (2)1.jpg" class="groupimg">
<div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
        <div class=" table-wrapper-scroll-y my-custom-scrollbar" >
          <table class="table table-bordered table-striped mb-0" >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Student</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td> 
                      <img src="../../../../../assets/img/student1.jpg" class="studentimg">
                      <span style="margin-left: 10px;">eman </span>
                  </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td> 
                        <img src="../../../../../assets/img/student2.jpg" class="studentimg">
                        <span style="margin-left: 10px;">shiry </span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td> 
                        <img src="../../../../../assets/img/student3.jpg" class="studentimg">
                        <span style="margin-left: 10px;">eman </span>
                    </td>
                  </tr>
                  <tr>
                      <th scope="row">4</th>
                      <td> 
                          <img src="../../../../../assets/img/student4.jpg" class="studentimg">
                          <span style="margin-left: 10px;">shiry </span>
                      </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td> 
                            <img src="../../../../../assets/img/student5.jpg" class="studentimg">
                            <span style="margin-left: 10px;">eman </span>
                        </td>
                      </tr>
                      <tr>
                          <th scope="row">6</th>
                          <td> 
                              <img src="../../../../../assets/img/student6.jpg" class="studentimg">
                              <span style="margin-left: 10px;">shiry </span>
                          </td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td> 
                            <img src="../../../../../assets/img/student2.jpg" class="studentimg">
                            <span style="margin-left: 10px;">shiry </span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td> 
                            <img src="../../../../../assets/img/student1.jpg" class="studentimg">
                            <span style="margin-left: 10px;">eman </span>
                        </td>
                      </tr>
                      <tr>
                          <th scope="row">9</th>
                          <td> 
                              <img src="../../../../../assets/img/student2.jpg" class="studentimg">
                              <span style="margin-left: 10px;">shiry </span>
                          </td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td> 
                                <img src="../../../../../assets/img/student1.jpg" class="studentimg">
                                <span style="margin-left: 10px;">eman </span>
                            </td>
                          </tr>
                          <tr>
                              <th scope="row">11</th>
                              <td> 
                                  <img src="../../../../../assets/img/student2.jpg" class="studentimg">
                                  <span style="margin-left: 10px;">shiry </span>
                              </td>
                            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered" style=" width: 95%;">
            <tr>
                <td class="detailsgroup" colspan="2" > Detalis Group</td>
            </tr>
            <tr >
                <td>Name</td>
                <td>Group1</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>bbbbbbbbbbbbbbb</td>
            </tr>
            <tr>
                <td>Grade</td>
                <td>Grade2</td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>Arabic</td>
            </tr>
            <tr>
                <td>Price In Month</td>
                <td>100 <span> EGP</span></td>
            </tr>
            <tr>
                <td>From</td>
                <td>1/8/2020</td>
            </tr>
            <tr>
                <td>To</td>
                <td>25/5/2021</td>
            </tr>
            <tr>
                <td rowspan="3">days</td>
                <td>Saturday</td>
            </tr>
            <tr>
                <td>Manday</td>
            </tr>
            <tr>
                <td>Wednesday</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>From <span> 1 :PM</span> &nbsp;&nbsp; To <span>2 :pm</span></td>
            </tr>
        </table>
    

    </div>

</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-user-footer></app-user-footer>

<script src="../../../../../assets/js/JQuerys-3.3.1.js"></script>
<script src="../../../../../assets/js/poppers.js"></script>
<script src="../../../../../assets/js/bootstraps.js"></script>
