<div class="container">
    <div class="row">
        <ol class="subject">
            <li>
                <h5 class="subjectname" > Arabic  <button class="btn  close">x</button>  </h5>
               
            </li>
            <li>
                <h5 class="subjectname" > English   <button class="btn  close">x</button> </h5>
            </li>
            <li>
                <h5 class="subjectname" > Math     <button class="btn  close">x</button> </h5>
            </li>

        </ol>
    </div>
    
</div>

