/*Profile Pic End*/
/* .table{
    text-align: center;
 
}

.table th{
    text-align: center;
}

.tblDetails td{
    border:1px solid black;
} */

table tr, td{
    border: 1px solid gray;
}

table th{
 
    vertical-align: middle;    
}
.bestwishes
{
    font-size: medium; 
    font-style: italic;
     color:#31a8cc;
     text-align: center;
     border-bottom: none;
     border-left: none;
     border-right: none;
}
.HW,.NL
{
    background-color: wheat;
    font-size: small;
}
