.select2-container .select2-selection--single{
    height:100px !important;
    font-size: larger;
   
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}

.container, label{
    margin-top:15px;
    padding: 3px;
}

button{
    font-size: 200%;
    margin-top: 10%;
    margin-left: 20%;
    width: 50%;
    text-align: center;
}

