<div class="header teachernav fixed-top ">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>Fo</em>llow Up</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <div class="row navimg">
                        <ul class="nav navbar-nav" style="">
                            <li></li>
                            <li >
                                <button class="btn Group " data-toggle="dropdown"> Group </button>
                                <ul class="dropdown-menu ">
                                    <a routerLink="/teacher/add/group"><li class="dropdown-header">Add Group</li></a> 
                                    <a routerLink="/teacher/list/group"><li class="dropdown-header">List Group</li></a> 
                                </ul>
                            </li>
                            <li >
                                <button class="btn Group " data-toggle="dropdown">  Report </button>
                                <ul class="dropdown-menu">
                                    <a routerLink="/teacher/add/report"><li class="dropdown-header">Add Report</li></a> 
                                    <a routerLink="/teacher/list/report"><li class="dropdown-header">List Report</li></a> 
                                </ul>
                            </li>
                            <li>
                                <button class="btn Profile " data-toggle="dropdown"><i class="fa fa fa-user "></i></button>
                                  <ul class="dropdown-menu dropprofile">
                                    <a routerLink="/teacher/profile"><li class="dropdown-header">Profile</li></a> 
                                    <a routerLink="/teacher/update"><li class="dropdown-header">Edit Profile</li></a>    
                                   <li class="dropdown-header">Log Out</li>
                                  </ul>
                            </li>
                        </ul>
                </div>        
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>

<!-- <i class="fa fa-caret-down"></i> -->