<app-navbar-header></app-navbar-header>
<div class="card">
    <div class="card-head">
        LOGIN
    </div>
    <div class="card-body">
        <form >
            <div class="form-row">
                <div class="col-lg-12 form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name"  placeholder="Enter Name">
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-12 form-group">
                        <label for="password">Password</label>
                        <input type="password"  class="form-control" name="password"  placeholder="Enter Password">
                </div>
            </div>
            <div class="form-check rememberme" >
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>
            <div class="form-row">
                <button class="btn btn-info col-md-offset-8 save" >Save</button>
             </div>
        </form> 
    </div>
    
</div>
