<div class="container" >
    <div class="row">

        <div class="picture-container" style="width: 30%;">
            <div class="picture">
                <img src="http://localhost:6853/StudentImage/{{pic}}" class="picture-src" id="wizardPicturePreview" title="">
                <input type="file" id="wizard-picture" class="">
            </div>
             <h6 class="">Choose Picture</h6>
    
        </div>

    </div>

    <div>
        <form>
            <div class="form-group">
              <!-- <input type="file" class="Upload Picture "accept="image/*"
              id="exampleFormControlFile1"> -->
              <!-- <span>Add photo</span> -->
              <!-- <input type="file"> -->
            </div>
        </form>
    </div>
    <div>
        <h3>{{Name}}</h3>
    </div>


    <div class="row">
        <div class="col-sm-4 bio">     
            <p>
                <span style="display: inline-block;font-size:x-large;">Age: </span>
                <span style="display: inline-block;font-size:x-large;">{{Age}}</span>
            </p>
            <p>
                <span style="display: inline-block;font-size:x-large;"> Education: </span>
                <span style="display: inline-block;font-size:x-large;">{{School}}</span>
            </p>
            <p>
                <span style="display: inline-block;font-size:x-large;">  Grade: </span>
                <span style="display: inline-block;font-size:x-large;">{{Grade}}</span>
            </p>
        </div>
 
        <div   class="col-sm-4 bio " style="margin-left: 20%; ">
             <!--skills -->
            <div class="card border-dark mb-3" style="max-width: 18rem; ">
                <div class="card-header bg-transparent border-success" style="font-size: 20px;">Skills</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Beautiful - Helpful</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

        
      

  </div>

</div>

    <script>
        $(document).ready(function(){
// Prepare the preview for profile picture
    $("#wizard-picture").change(function(){
        readURL(this);
    });
});
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
        }
        reader.readAsDataURL(input.files[0]);
    }
}
    </script>


