<div class="container list">
    <form >
        <div class="form-row link">
            <div class="col-sm-1 col-md-1">
                <div class="row">
                    <img src="../../../../../assets/img/facebook-new.png" class="icon1" >
                </div>
                <div class="row">
                    <img src="../../../../../assets/img/google-logo.png" class="icon2" >
                </div>
                <div class="row">
                    <img src="../../../../../assets/img/twitter.png" class="icon3" >
                </div>
                <div class="row">
                    <img src="../../../../../assets/img/user.png" class="icon4" >
                </div>
            </div>
            <div class="col-sm-8 col-md-11">
                <div class="form-row link">
                    <input type="email"  class="form-control" name="email"  placeholder="Enter FaceBook Email">
                </div>
                <div class="form-row link">
                    <input type="email"  class="form-control" name="email"  placeholder="Enter Google Email">
                </div>
                <div class="form-row link">
                    <input type="email"  class="form-control" name="email"  placeholder="Enter Twitter Email">
                </div>
                <div class="form-row link">
                    <input type="email"  class="form-control" name="email"  placeholder="Enter Personal Email">
                </div>
                <div class="form-row">
            <button class="btn btn-info save" >Save</button>
        </div>
                
            </div>
        </div>
        
           
    </form>
</div>
 
       
    