<app-center-nav></app-center-nav>
<div class="card">
    <div class="card-head">
        ADD GROUP
    </div>
    <div class="card-body">
        <form >
            <div class="form-row">

                <div class="col-md-12 form-group">
                        <label for="name"> Name</label>
                        <input type="text" [(ngModel)]="eductionalCenterGroup.name" class="form-control" name="name"  placeholder="Enter Name">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" [(ngModel)]="eductionalCenterGroup.description" name="description" rows="4"  cols="50" placeholder="Enter description"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 form-group ">
                    <label for="logo">Logo</label>
                    <input type="file" class="form-control" (change)="onUploadPhoto()" #fileInput name="file" placeholder="Enter Logo" accept="image/*" >            
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6  form-group ">
                    <label for="category">Category</label>
                    <select name="cat_id" (change)="selectSubject(cat_id)" [(ngModel)]="cat_id" id="Name" class="form-control">
                        <option class="form-control" *ngFor="let item of allCategorySubjects" [value]="item.categorySubjectId">{{item.name}}</option>            
                    </select>
                </div>
                <div class="col-md-6  form-group ">
                    <label for="subject">Subject</label>
                    <select name="subjectId" id="subjectname" [(ngModel)]="eductionalCenterGroup.subjectId" class="form-control">
                        <option class="form-control" *ngFor="let item of allSubjects" [value]="item.subjectId" >{{item.name}}</option>             
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6  form-group ">
                    <label for="teacher">Teacher</label>
                    <select name="teacherId" [(ngModel)]="eductionalCenterGroup.teacherId" id="Name" class="form-control">
                        <option class="form-control" *ngFor="let item of allTeachers" [value]="item.teacherId">{{item.firstName}}</option>            
                    </select>
                </div>
                <div class="col-md-6  form-group ">
                    <label for="grade">Grade</label>
                    <select name="teacherId" id="subjectname" [(ngModel)]="eductionalCenterGroup.gradeId" class="form-control">
                        <option class="form-control" *ngFor="let item of allGrades" [value]="item.gradeId" >{{item.name}}</option>             
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 form-group">
                        <label for="Status">Status</label>
                        <select name="status" [(ngModel)]="eductionalCenterGroup.status" id="Status" class="form-control">
                            <option [value]="0" class="form-control">Opening</option>
                            <option [value]="1" class="form-control">Closed</option>
                            <option [value]="2" class="form-control">Archived</option>                
                            <!-- <option class="form-control" *ngFor="let item of arrayname" [value]="item.Status" >{{item.name}}</option> -->
                        </select>
                </div>
                <div class="col-md-6 ">
                    <label for="Price in month">Price In Month</label>
                     <div class="row">
                        <div class="col-md-8 price">
                           <input type="text" [(ngModel)]="eductionalCenterGroup.priceInMonth" class="form-control" name="priceInMonth"  placeholder="Enter Price In Month">
                        </div>
                        <div class="col-md-4 EGP">
                          <div >EGP</div>
                        </div>
                     </div>
                </div>
            </div>


            <div class="form-row">
                <div class="col-md-6  form-group ">
                    <label for="date">From</label>
                    <input type="date" id="start" [(ngModel)]="eductionalCenterGroup.dateFrom" name="dateFrom" value="2018-07-22"  class="input--style-3">            
                </div>
                <div class="col-md-6  form-group ">
                    <label for="dateto">To</label>
                    <input type="date" [(ngModel)]="eductionalCenterGroup.dateTo" id="end" name="dateTo" value="2018-07-22"  class="input--style-3">            
                </div>
            </div>


            <div class="form-row">

                <div class="col-md-12 form-group">
                        <label for="TotleStudents"> Total Students</label>
                        <input type="text" [(ngModel)]="eductionalCenterGroup.totleStudents" class="form-control" name="totleStudents"  placeholder="Enter Name">
                </div>
            </div>
            
            <!-- <div class="form-row daytime">
                <div class="col-md-12 form-group">
                    <label for="date">Day & Time</label>
                </div>  
                <div class="col-md-4 form-group">
                    <div class="row">
                        <div class="col-md-2">
                            Days
                        </div>
                        <div class="col-md-7 days">
                            <div class="row day">
                                <input type="checkbox" class="form-checkbox" name="Saturday" >
                                <label > Saturday</label>
                            </div>
                            <div class="row day">
                                <input type="checkbox" class="form-checkbox" name="Sunday" >
                                <label > Sunday</label>
                            </div>
                            <div class="row day">
                                <input type="checkbox" class="form-checkbox" name="Monday" >
                                <label > Monday</label>
                            </div>
                            <div class="row day">
                                <input type="checkbox" class="form-checkbox" name="Tuesday" >
                                <label > Tuesday</label>
                            </div>
                            <div class="row day">
                                <input type="checkbox" class="form-checkbox" name="Wednesday" >
                                <label > Wednesday</label>
                            </div>
                            <div class="row day">
                                <input type="checkbox" class="form-checkbox" name="Thursday" >
                                <label > Thursday</label>
                            </div>
                            <div class="row day">
                                <input type="checkbox" class="form-checkbox" name="Friday" >
                                <label > Friday</label>
                            </div>
                        </div>
                    </div>      
                </div>
                <div class="col-md-4 form-group">
                    <div class="row">
                        From  <B> : </B>
                        <input type="text"  class="form-control timefrom " name="timefrom">
                    </div>      
                </div>
                <div class="col-md-4 form-group">
                    <div class="row">
                        To  <B> : </B>
                        <input type="text"  class="form-control timefrom " name="timefrom">
                    </div>       
                </div>
                
            </div> -->
            <div class="form-row">
                    <button class="btn btn-info col-md-offset-8 save" (click)="add()" >Save</button>
            </div> 
           
        </form> 
    </div>
  
</div>
<br><br><br>

<app-user-footer></app-user-footer>
<script src="assets/register/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
   
    <script src="assets/register/vendor/datepicker/moment.min.js"></script>
    <script src="assets/register/vendor/datepicker/daterangepicker.js"></script>
    <script src="assets/register/js/global.js"></script>

    <!-- Main JS-->
    


