<section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/img/service_icon_01.png" alt="">
                        </div>
                        <h4>Smart Notifications</h4>
                        <div class="line-dec"></div>
                        <p>having a quailty relationship among children,parents and teachers will help in creating a better future</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/img/service_icon_02.png" alt="">
                        </div>
                        <h4>Lovely Family</h4>
                        <div class="line-dec"></div>
                        <p>We care about one thing: children. And we’re working to meet their needs in all sorts of ways: providing them with the most beneficial experience through bring children, parents, teachers in the same Circle</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/img/service_icon_02.png" alt="">
                        </div>
                        <h4>Lovely Family</h4>
                        <div class="line-dec"></div>
                        <p>Every children deserve to  grow up right and well educated. That why we provide support to help them thrive-and step in to help when time get though</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/img/service_icon_02.png" alt="">
                        </div>
                        <h4>Lovely Family</h4>
                        <div class="line-dec"></div>
                        <p>Helping family to build a positive relationship Every family need a bit for support in rising up their children. We’re here to help.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>