<link href="../../../../../assets/css/bootstraps.css" rel="stylesheet" />
<link href="../../../../../assets/css/font-awesome.css" rel="stylesheet" />
<app-teacher-nav></app-teacher-nav>
<div class="container " >
  
    <div class="allgroup">ALL GROUP</div>
    <a  routerLink="/teacher/add/group"><button class="btn btn-info addgroup">Add Group</button></a>
<table class="table table-bordered text-center">
    <tr class="head">
        <td> Name </td>
        <td> Subject </td>
        <td> Grade </td>
        <td> Status </td>
        <td > Option </td>
    </tr>
    <tr>
        <td> Group1 </td>
        <td> Arabic </td>
        <td> Grade1 </td>
        <td> opening </td>
        <td>  
          <a  routerLink="/teacher/details/group"><button class="btn btn-primary" > Details </button></a>
        
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a  routerLink="/teacher/edit/group"><button class="btn btn-warning" > Edit </button></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" data-toggle="modal" data-target="#mymodaldelete">Delete</button>
            <div class="modal" id="mymodaldelete">
              <div class="modal-dialog">
                  <div class="modal-content detail">
                      <div class="modal-header details">
                          <h3 class="modal-title text-light"> Delete  </h3>
                      </div>
                      <div class="modal-body bg-light">
                        Are You Sure To Delete This Group
                        <br>
                        <br>
                        <button class="btn btn-danger ">Yes</button>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn no ">No</button>
                      </div>
                      <div class="modal-footer">
                        <p ><span class="close closeaddexperience" data-dismiss="modal">&times;</span></p>
                      </div>
                  </div>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a  routerLink="/teacher/list/report"><button class="btn btn-success" > Report </button></a>
        </td>
    </tr>
    <tr>
        <td> Group1 </td>
        <td> Arabic </td>
        <td> Grade1 </td>
        <td> opening </td>
        <td>  
            <button class="btn btn-primary" data-toggle="modal" data-target="#mymodaldetails">Details</button>
            <div class="modal" id="mymodaldetails">
              <div class="modal-dialog">
                  <div class="modal-content detail">
                      <div class="modal-header details">
                          <h3 class="modal-title text-light"> Details  </h3>
                      </div>
                      <div class="modal-body bg-light">
                        <app-details-group ></app-details-group>
                      </div>
                      <div class="modal-footer">
                        <p ><span class="close closeaddexperience" data-dismiss="modal">&times;</span></p>
                      </div>
                  </div>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-warning" > Edit </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" > Delete </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" > Report </button>
        </td>
    </tr>
    <tr>
        <td> Group1 </td>
        <td> Arabic </td>
        <td> Grade1 </td>
        <td> opening </td>
        <td>  
            <button class="btn btn-primary" data-toggle="modal" data-target="#mymodaldetails">Details</button>
            <div class="modal" id="mymodaldetails">
              <div class="modal-dialog">
                  <div class="modal-content detail">
                      <div class="modal-header details">
                          <h3 class="modal-title text-light"> Details  </h3>
                      </div>
                      <div class="modal-body bg-light">
                        <app-details-group ></app-details-group>
                      </div>
                      <div class="modal-footer">
                        <p ><span class="close closeaddexperience" data-dismiss="modal">&times;</span></p>
                      </div>
                  </div>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-warning" > Edit </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" > Delete </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" > Report </button>
        </td>
    </tr>
    <tr>
        <td> Group1 </td>
        <td> Arabic </td>
        <td> Grade1 </td>
        <td> opening </td>
        <td>  
            <button class="btn btn-primary" data-toggle="modal" data-target="#mymodaldetails">Details</button>
            <div class="modal" id="mymodaldetails">
              <div class="modal-dialog">
                  <div class="modal-content detail">
                      <div class="modal-header details">
                          <h3 class="modal-title text-light"> Details  </h3>
                      </div>
                      <div class="modal-body bg-light">
                        <app-details-group ></app-details-group>
                      </div>
                      <div class="modal-footer">
                        <p ><span class="close closeaddexperience" data-dismiss="modal">&times;</span></p>
                      </div>
                  </div>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-warning" > Edit </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" > Delete </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" > Report </button>
        </td>
    </tr>
</table>
</div>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-user-footer></app-user-footer>
<script src="../../../../../assets/js/JQuerys-3.3.1.js"></script>
<script src="../../../../../assets/js/poppers.js"></script>
<script src="../../../../../assets/js/bootstraps.js"></script>
