<app-parent-nav></app-parent-nav> 

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins" style="width: 60%; margin-left: 20%;">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-body"style="padding:0px;" >
                <div class="row">
                    <div class="col-md-7">
                        <img src="../../../../../assets/img/student11.jpg" style="height: 100%;">
                    </div>
                    <div class="col-md-5" style="padding: 20px;">
                         <h2 class="title">Edit Student</h2>
                         <form method="POST">

                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Name" name="name">
                        </div>
                
                      
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Password" name="pass">
                        </div>
                 
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Confirm password" name="confirmPass">
                        </div>
                
                      
                       
                        <div class="input-group">
                            <input type="date" id="start" name="trip-start"
                            value="2018-07-22"
                            min="2018-01-01" max="2018-12-31" class="input--style-3">            
                                    </div>
                
                           <div class="input-group">
                             <input class="input--style-3" type="text" placeholder="School" name="school">
                          </div>            
                
                            <div class="input-group"  >
                                <label  class="input--style-3"  style="float: left;">Grade</label>
                
                                <select class="input--style-3"  style="margin-left: 20px; width:25%; float: left;">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                              </div>
                
                           
                
                        <div class="input-group">
                            <textarea class="input--style-3"  placeholder="Skills" rows="5" style="width: 250px; border: 1px solid white;"></textarea>
                          </div>
                
                          <div class="input-group"  >
                            <label  class="input--style-3" style="float: left;" >Year</label>
                
                            <select class="input--style-3" style="margin-left: 20px; width:25%; float: left;">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                
                          
                
                        <div class="input-group">
                           
                            <input class="input--style-3" type="text" placeholder="Percentage Degree of last year" name="degree" > 
                        </div>
                
                
                        <div class="input-group">
                            <input class="input--style-3" type="file" placeholder="Picture" name="pic">
                        </div>
                
                 
                     
                      
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Save Change</button>
                        </div>
                     </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
    <!-- Jquery JS-->
    <script src="assets/register/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="assets/register/vendor/select2/select2.min.js"></script>
    <script src="assets/register/vendor/datepicker/moment.min.js"></script>
    <script src="assets/register/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="assets/register/js/global.js"></script>

<script>

</script>



<app-Corefooter></app-Corefooter>
