<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“I have a great experience with Fellow Up website. It help me to be more in touch with my children. Thank you ”</p>
                            <h4>Sherouk samir</h4>
                            <span>Accountant</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“I don’t work in Egypt so I used to have a problem with keeping up with my kids’s eduction. This program give me a hand to see how my kids doing in their study. 
                                I am so appreciated to this website. ”</p>
                            <h4>Eman ayman</h4>
                            <span>Web Designer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ What I really like the most about this website is that ;it is not only helped me to follow up with my children’s eduction but also helped me to see how they mentally and socially developing.. ”</p>
                            <h4>Shiry Samir</h4>
                            <span>Front End Developer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“Thank you very much. This website made the educational experience more effective and efficient. I also like how you are posting useful advices for the parents and their relationship with children.”</p>
                            <h4>Mohamed ayman</h4>
                            <span>Doctor</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
