<link href="../../../../../assets/css/bootstraps.css" rel="stylesheet" />
<link href="../../../../../assets/css/font-awesome.css" rel="stylesheet" />
<app-center-nav></app-center-nav>

<div class="container">
    <div class="row">
      <app-center-bio></app-center-bio>
    </div>
  </div>
   <div class="container cardes">  
    <div id="accordion">
                            
              
        <div class="card">
          <div class="card-header">
              <button class="btn btn-link data" data-toggle="collapse" data-target="#cardfive">Social Links <span>+</span></button>
          </div>
          <div id="cardfive" class="collapse show" data-parent="#accordion">
              <div class="card-body ">
                <app-center-links></app-center-links>
              </div>
          </div>
        </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
  
  
  <script src="../../../../../assets/js/JQuerys-3.3.1.js"></script>
  <script src="../../../../../assets/js/poppers.js"></script>
  <script src="../../../../../assets/js/bootstraps.js"></script>
  











