<div class="container" >
    <div class="row">
        <div class="container">
            <div class="picture-container" style="width: 30%;">
                <div class="picture">
                    <img class="img" src="http://localhost:6853/uploads/{{pic}}" class="picture-src" id="wizardPicturePreview" title="">
                    <input type="file" id="wizard-picture" accept="image/*" >
                </div>
                 <h6 class="Upload">Upload Picture</h6>
            </div>
        </div>
    </div>
    <div>
        <form>
            <div class="form-group">
              <!-- <input type="file" class="Upload Picture "accept="image/*"
              id="exampleFormControlFile1"> -->
              <!-- <span>Add photo</span> -->
              <!-- <input type="file"> -->
            </div>
        </form>
    </div>
    <div>
        <h3 >{{Name}}</h3>
    </div>
    <div class="row">
        <div class="bio">
            <p>
                <span style="display: inline-block;font-size:x-large;">Email: </span>
                <span style="display: inline-block;font-size:x-large;">{{ email}}</span>
            </p>
            <p>
                <span style="display: inline-block;font-size:x-large;">Phone Number: </span>
                <span style="display: inline-block;font-size:x-large;">{{ mobile}}</span>
            </p>
        </div>
        <button class="btn btn-info addabout " data-toggle="modal" data-target="#mymodalabout">Add About</button>
        <div class="modal" id="mymodalabout">
             <div class="modal-dialog"style="margin-top:120px;">
                 <div class="modal-content">
                     <div class="modal-header">
                         <form>
                             <div class="form-group">
                                <p class="modal-title">Add About </p>
                             </div>
                          </form>
                     </div>
                     <div class="modal-body">
                        <label for="about"> Add About</label>
                        <input type="text" class="form-control" >
                        <button class="btn btn-info ADD" style="width: 17%; margin-top: 10px;">Add</button>
                     </div>
                     <div class="modal-footer">
                       <p ><span class="close closeaddsubject" data-dismiss="modal">&times;</span></p>
                     </div>
                 </div>
             </div>
        </div> 

    </div>

    <script>
        $(document).ready(function(){
// Prepare the preview for profile picture
    $("#wizard-picture").change(function(){
        readURL(this);
    });
});
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
        }
        reader.readAsDataURL(input.files[0]);
    }
}
    </script>

