<div class="form-row">
    <div class="col-md-6  form-group ">
            <label for="subject">Subject</label>
            <select name="subject" id="subject" class="form-control">
                <option value="arebic" class="form-control">Arabic</option>
                <option value="english" class="form-control">English</option>
                <option value="math" class="form-control">Math</option>
                <option value="art" class="form-control">Art</option>
                <option value="arebic" class="form-control">Arabic</option>
                <option value="english" class="form-control">English</option>
                <option value="math" class="form-control">Math</option>
                <option value="art" class="form-control">Art</option>
            </select>
            <button class="btn btn-info addsubject">Add</button>
    </div>
</div> 