
  <div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Our Blog Posts</h4>
                        <div class="line-dec"></div>
                        <!-- <p>Nam vulputate elementum nulla, sit amet congue ipsum malesuada pretium. Vivamus vel gravida quam.</p> -->
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li ><a href="#tab1" class="active"style="font-size: 13px;">Why is a Positive Parent-Child Relationship Important?</a></li>
                            <li><a href="#tab2"style="font-size: 13px;">How a Positive Parent-Teacher Relationship Can Help Your Child Be More Successful?</a></li>
                            <li><a href="#tab3"style="font-size: 13px;">Improving students' relationships with teachers</a></li>
                            <li><a href="#tab4"style="font-size: 13px;">High quality academic instruction</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>Why is a Positive Parent-Child Relationship Important? </h4>
                                <!-- <span><a href="#">Digital Marketing</a> / <a href="#">Honey</a> / <a href="#">26 September 2017</a></span> -->
                                <p>
                                    The Parent-Child Relationship is one that nurtures the physical, emotional and social development of the child. It is a unique bond that every child and parent will can enjoy and nurture. This relationship lays the foundation for the child’s personality, life choices and overall behaviour. It can also affect the strength of their social, physical, mental and emotional health.</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>How a Positive Parent-Teacher Relationship Can Help Your Child Be More Successful?</h4>
                                <!-- <span><a href="#">Branding</a> / <a href="#">David</a> / <a href="#">14 September 2017</a></span> -->
                                <p>Teachers and parents can connect those two worlds and ensure that each child gets good, consistent care and support. But for that to happen, there needs to be a positive relationship between the parent and the teacher. We like to think of families and the school as partners in their child’s education. That’s why Apple Montessori takes steps to help parents and teachers connect by holding parent seminars, parent-teacher conferences, and maintaining clear lines of communication.</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Improving students' relationships with teachers</h4>
                                <!-- <span><a href="#">Web Design</a> / <a href="#">William</a> / <a href="#">20 August 2017</a></span> -->
                                <p>Improving students' relationships with teachers has important, positive and long-lasting implications for both students' academic and social development. Solely improving students' relationships with their teachers will not produce gains in achievement. However, those students who have close, positive and supportive relationships with their teachers will attain higher levels of achievement than those students with more conflict in their relationships.</p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>High quality academic instruction</h4>
                                <!-- <span><a href="#">E-Commerce</a> / <a href="#">George</a> / <a href="#">14 August 2017</a></span> -->
                                <p>High quality academic instruction is designed to be appropriate to students' educational levels. It also creates opportunity for thinking and analysis, uses feedback effectively to guide students' thinking, and extends students' prior knowledge.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>