<app-teacher-nav></app-teacher-nav>
<div class="card">
    <div class="card-head">
      Edit Profile
    </div>
    <div class="card-body">
        <form >
            <div class="form-row">

                <div class="col-md-6 form-group">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control" [(ngModel)]="teacher.firstName" name="firstName"  placeholder="Enter Name">
                </div>
                <div class="col-md-6 form-group">
                    <label for="name">Last Name</label>
                    <input type="text" class="form-control" [(ngModel)]="teacher.lastName" name="lastName"  placeholder="Enter Name">
            </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 form-group">
                        <label for="userName">PasswoUserName</label>
                        <input type="text"  class="form-control" [(ngModel)]="teacher.userName" name="userName"  placeholder="Enter Password">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 form-group">
                        <label for="password">Password</label>
                        <input type="password"  class="form-control" [(ngModel)]="teacher.password" name="password"  placeholder="Enter Password">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 form-group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password"  class="form-control" name="confirmpassword"  placeholder="Confirm Password">
                </div>
            </div>
           
            <div class="form-row">
                <div class="col-md-12 form-group">
                    <label for="barthofdate"> Address</label>
                    <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                               <div class="col-md-3">
                                   <span>Government</span>
                               </div>
                               <div class="col-md-9">
                                   <select (change)="selectCity(governate)" [(ngModel)]="governate" name="name" id="day" class="form-control">
                                    <option disabled="disabled" selected="selected">Selected Government</option>
                                    <option *ngFor="let item of allgovs" [value]="item.governmentId" 
                                     >{{item.name}}</option>
                                   </select>
                               </div>
                           </div>
                         
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>City</span>
                                </div>
                                <div class="col-md-10">
                                    <select name="month" id="month" class="form-control">
                                        <option  disabled="disabled" selected="selected">Selected City</option>
                                        <option *ngFor="let item of allcitis" [value]="item.cityId" 
                                       >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                           
                           
                        </div>
                        <div class="col-md-12" style="margin-top:15px;">
                            <div class="row">
                                <div class="col-md-1">
                                    <span>AddressDetails</span>
                                </div>
                                <div class="col-md-10" style="margin-left: 26px; width:86%">
                                    <input type="text" class="form-control" [(ngModel)]="teacher.addressDetails" name="addressDetails">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top:15px;">
                            <div class="row">
                                <div class="col-md-1">
                                    <span>CHoose Picture</span>
                                </div>
                                <div class="col-md-10" style="margin-left: 26px; width:86%">
                                    <input type="file" type="file" (change)="onUploadPhoto()" #fileInput class="form-control" name="file">

                                </div>
                            </div>
                        </div>

                    </div>
            </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 form-group">
                    <label for="barthofdate"> Bath Of Date</label>
                    <div class="input-group"style="width:47%;">
                        <input type="date" id="start" [(ngModel)]="teacher.dateOfBirth" name="dateOfBirth"
                        value="2018-07-22"
                        min="2018-01-01" max="2018-12-31" class="form-control" >            
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6  form-group ">
                        <label for="profileimage">Gender</label>
                        <select name="gender" id="gender" class="form-control">
                            <option value="True" class="form-control">male</option>
                            <option value="False" class="form-control">female</option>
                        </select>
                </div>
            </div> 
            <div class="form-row">
                    <button (click)="onSaveChaneges()" class="btn btn-info col-md-offset-9 save"  style="border-radius: 30px;">Save</button>
            </div> 
           
        </form> 
    </div>
  
</div>
<br><br><br>
<app-user-footer></app-user-footer>